path {
  stroke: #666;
  fill: none;
  fill-opacity: 0.9;
  stroke-width: 1px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.usaLand {
  fill: #3498DB ;
}

.water {
	fill: #3498DB;
}

.land {
  fill: #F4D03F ;
 
}

.land:hover {
  fill:#33CC33;
  stroke-width: 1px;
}



.drag-state {
  fill: yellow;	
 }

.drag-state-correct {
  fill: #2ECC71 ;	
}

.drag-state-incorrect {
  fill: #E74C3C ;	
}


#map {
	float: top;
}

.homeButton{
	float: left;
}


.img-with-text {
    float: left;
    margin-top: 15%;
    margin-left:10%;
    text-align: center;
    border:1px solid grey;
    width: 300;
    height: 250;
 
}





#scoreText {
	text-align: center;	
	margin-top: 1%;
	font-size: 30px;
	font-family: Arial;
	color: green;
}

#stateName{
	float: bottom;
	margin-left: 30%;
	text-align: center;
	font-size: 50px;
	font-family: Fantasy;
	color: green;
}



.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}

.overlay {
  fill: none;
  pointer-events: all;
}

