
.usaLand {
  fill: #3498DB; ;
}



.land {
  fill: #F4D03F ;
}

.land:hover {
  fill:#33CC33;
  stroke-width: 1px;
}

.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundary {
  fill: none;
  stroke: #fff;
}

.drag-state {
  fill: orange;	
 }

.drag-state-correct {
  fill: green ;	
}

.drag-state-incorrect {
  fill: red ;	
}
/*#content {
	width:100%;
    background-color: #FAFAD2;
}*/

#map {
	float: top;
	
}

.homeButton{
	float: left;
}



.img-with-text {
    float: left;
    margin-top: 15%;
    margin-left:10%;
    text-align: center;
    border:1px solid grey;
    width: 300;
    height: 250;
 
}





#score_text {
	text-align: center;	
}

.water {
	fill: #3498DB;
}

.countryTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 5px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 14px;
  font-family: sans-serif;
}